@{
    ViewBag.Title = "About";
}
<div class="home-jumbotron jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="lead">Here you can find all the details about us and the reason behind this website.</p>
</div>
<div class="details">
    <p>We are a team of young active developers who have been into ups and downs in their life/study journey, and due to that, we decided to make this website for the people that might get a use out of it.</p>
    <p>What do I mean bu the use out of it? Well... we always wanted a place to express our feelings in after a hard day of studying and struggling, so with this dailyquotes website, you can simply share your quotes/feeling to the public figure and let other users see what you post.</p>
</div>
