@{
    ViewBag.Title = "Contact";
}
<div class="home-jumbotron jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="lead">Feel free to contact us at any time you want.</p>
</div>

<div class="details">
    <table>
        <tr>
            <th>
                <i class="fas fa-map-marker-alt"></i>
            </th>
            <th>
                Address
            </th>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                Khalet e-Deir, Nazareth
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <th>
                <i class="fas fa-phone"></i>
            </th>
            <th>
                Lets Talk
            </th>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                +972545515544
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <th>
                <i class="fas fa-envelope"></i>
            </th>
            <th>
                General Support
            </th>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                dailyquotes@gmail.com
            </td>
        </tr>
    </table>
</div>