@{
    ViewBag.Title = "Home Page";
    <link href="~/Content/Site.css" rel="stylesheet" />
}

<div class="home-jumbotron jumbotron">
    <h1>DailyQuotes</h1>
    <p class="lead">DailyQuotes is an open website for all users to use and so is post daily quotes of their own choice.</p>
    <p>@Html.ActionLink("Learn More","About","Home", new { area = "" }, new {@class= "btn btn-primary btn-lg" })</p>
</div>

<div class="details row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            DailyQuotes give users the ability to express their feelings to the public by releasing their quotes.
        </p>
        <p>@Html.ActionLink("Learn More", "About", "Home", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Make your first post</h2>
        <p>Go ahead and make your very first quote post. Let your feelings out for the people to see.</p>
        <p>@Html.ActionLink("Learn More", "Create", "Quotes", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Get in touch</h2>
        <p>You can easily contact us anytime. Every user is welcome at any time of the day to send a related question via our contact info.</p>
        <p>@Html.ActionLink("Learn More", "Contact", "Home", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>